src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<sub-flow name="start-log-offset-limit" doc:id="3f63c02e-a7b7-4ac7-a6cc-624442b9155d" >
		<logger level="INFO" doc:name="Start log" doc:id="5c88d0fd-07e6-4b73-be7d-a16a89a2ffb7" />
		<set-variable value="#[message.attributes.queryParams.offset default 0]" doc:name="Set offset" doc:id="0280a3f2-328b-40a9-a7db-b9d060a5b0c4" variableName="offset" />
		<set-variable value="#[message.attributes.queryParams.limit default 10]" doc:name="Set limit" doc:id="ef13e759-52f1-4726-be3b-d4d0b8d64408" variableName="limit" />
	</sub-flow>
	<flow name="getLaunchesByRocketName" doc:id="07555d88-1d89-4496-81a7-cf8846d5ee94" >
		<flow-ref doc:name="Start log / offset / limit" doc:id="75c1b5f5-605d-4ae0-8b24-a0c2977b7c32" name="start-log-offset-limit" />
		<set-variable value='#[message.attributes.queryParams.name splitBy ("_") joinBy (" ") default ""]' doc:name="Set name" doc:id="2868d6fb-ac3b-4c91-bfca-c7b0961d0e47" variableName="name"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="26263bb2-66f6-420d-aa6e-ec6255cab05e" >
			<route>
				<try doc:name="Try" doc:id="3f5da05c-057c-4376-b264-bc3e29bf8fb9" >
					<flow-ref doc:name="Get launch information" doc:id="c67010a4-2f4d-4706-a598-45b58baefd01" name="getLaunchInfo" />
					<ee:transform doc:name="Transform Message" doc:id="2323fc64-fb0f-4353-b12b-f5a30379edf2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) -> item.rocket_name == vars.name)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="afa511fa-91a3-40a3-bc32-be4b17d5d502" type="ANY" >
							<ee:transform doc:name="Error message" doc:id="c6b7faac-6fce-4410-9c19-531d6357d9b5" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Log error message" doc:id="39e0c5b8-602d-4e85-8147-d15612594c40" message="#[error.description]" />
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route>
				<try doc:name="Try" doc:id="b534ee3d-b743-4f8a-8dd3-b49e849d4cfd" >
					<flow-ref doc:name="Get rocket information" doc:id="718989fc-109d-4b7b-8807-a9b4a754683e" name="getRocketInfo" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="53134d52-241a-4757-8387-f41eddeb428d" type="ANY">
							<ee:transform doc:name="Error message" doc:id="88a0d71c-3263-455a-83c3-bc9a1771b4ec" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Log error message" doc:id="286d03a0-7c4f-455c-94af-f23c61ea83cb" message='"Failed to get rocket data."'/>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Info about launch and rocket" doc:id="fc11fe0c-5850-488e-81c7-2af1405dd3ca">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	launch_info: payload."0".payload[0],
	rocket_info: payload."1".payload[0]
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="End log" doc:id="5ec73c45-72d5-4e59-9fe0-c0d2c415a905" message="#[payload]"/>
		<error-handler ref="globalError_Handler" />
	</flow>
	<sub-flow name="getLaunchesByLaunchName" doc:id="6a6ad843-8e04-4e8d-8673-8453b023a5c2" >
		<flow-ref doc:name="Start log / offset / limit" doc:id="9201def9-2434-4e40-bc45-32c179fcb075" name="start-log-offset-limit" />
		<set-variable value='#[message.attributes.queryParams.launch_name default ""]' doc:name="Set launch_name" doc:id="218f39d6-8964-4c51-a00a-c69620c9269d" variableName="launch_name" />
		<validation:is-not-null doc:name="Check for launch_name is not null" doc:id="7bd701eb-321b-4ff3-8456-6ce8da171f04" config-ref="Validation_Config" value="#[vars.launch_name]" message="#[&quot;Query Parameter 'launch_name' is missing&quot;]">
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:NULL_VALUE" />
		</validation:is-not-null>
		<flow-ref doc:name="getLaunchInfo" doc:id="f2b23d13-ec9a-4ad5-a51a-096c50c242e9" name="getLaunchInfo" />
		<ee:transform doc:name="Filtering by launch name" doc:id="f7ef847d-13a2-4714-ab0b-9d95d3906ebd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) -> item.name == vars.launch_name)]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="71d6644c-6499-439d-ac16-c456f67e2fc0" config-ref="Validation_Config" message='#["There is no information about the launch of such a rocket."]'>
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:EMPTY_COLLECTION" />
		</validation:is-not-empty-collection>
		<set-variable value="#[payload]" doc:name="Set launchInfo" doc:id="1f6b8a43-718d-48f5-847b-758cbce446ec" variableName="launchInfo" mimeType="application/json" />
		<set-variable value='#[vars.launchInfo.rocket_name[0] default ""]' doc:name="Set name" doc:id="41957ce4-a5c9-4d8c-bac3-00c5b5f8c6c7" variableName="name" />
		<flow-ref doc:name="getRocketInfo" doc:id="19da8fbf-3816-46db-bf15-7c10fda2abb6" name="getRocketInfo" />
		<ee:transform doc:name="Info about launch and rocket" doc:id="07116e28-63ed-48ca-a4ac-ed2c6bfa9da9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	launch_info: vars.launchInfo[0],
	rocket_info: payload[0]
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End log" doc:id="8f88ddd6-250f-438f-be7e-b097023b0570" message="#[payload]" />
	</sub-flow>
	<sub-flow name="getLaunchInfo" doc:id="00fe8603-e670-4349-8d17-839d65c614cc">
		<http:request method="GET" doc:name="Get all launches" doc:id="125ed0d5-3421-4376-beba-1c7fa56f6d7e" config-ref="HTTP_Request_configuration" path="/2.0.0/launch" outputMimeType="application/json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"offset" : vars.offset,
	"limit" : vars.limit
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Payload transformation" doc:id="a6079749-4c91-4e22-839e-f66a22880e28">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.results map ( result , indexOfResult ) -> {
	id: result.id default "",
	name: result.slug default "",
	status: result.status.name default "",
	launch_date: result.net[0 to 9] default "",
	failreason: result.failreason default "",
	launch_service_provider: result.launch_service_provider.name default "",
	pad: {
		name: result.pad.name default "",
		location: {
			name: result.pad.location.name default "",
			country_code: result.pad.location.country_code default "",
			total_launch_count: result.pad.location.total_launch_count default "",
			total_landing_count: result.pad.location.total_landing_count default ""
		}
	},
	rocket_name: result.rocket.configuration.name default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="getRocketInfo" doc:id="42a17830-cf21-409c-b3e1-7a95dea549c6" >
		<http:request method="GET" doc:name="Get rocket by name" doc:id="0e9a6694-35b1-456a-9af2-a8473a57e9e9" config-ref="HTTP_Request_configuration" path="/2.2.0/config/launcher/" outputMimeType="application/json" >
			<http:query-params ><![CDATA[#[output application/json
---
{
	"name" : vars.name
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Payload transformation" doc:id="bb87f3e5-fe27-4a5f-b00f-e0244aade363" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.results map ( result , indexOfResult ) -> {
	name: result.name default "",
	manufacturer: {
		name: result.manufacturer.name default "",
		"type": result.manufacturer."type" default "",
		country_code: result.manufacturer.country_code default ""
	},
	family: result.family default "",
	full_name: result.full_name default "",
	variant: result.variant default "",
	reusable: result.reusable,
	image_url: result.image_url default "",
	wiki_url: result.wiki_url default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="getLaunchesByStatusAndYear" doc:id="d3fe3b03-a4d7-40a9-b771-7e53bc7e9d5b">
		<flow-ref doc:name="Start log / offset / limit" doc:id="fa9e64f2-2406-49b2-aad9-70936d68741d" name="start-log-offset-limit" />
		<set-variable value='#[message.attributes.queryParams.status default ""]' doc:name="Set status" doc:id="cd69c922-b1fa-49ec-bd8d-66a5b22a4930" variableName="status" />
		<choice doc:name="Choice" doc:id="bb737f36-ae89-477d-892e-58464c9b0ace">
			<when expression='#[vars.status != ""]'>
				<validation:matches-regex doc:name="Check for status validity" doc:id="3cd5dc11-1cb5-4f6f-ac46-d1fd49132090" config-ref="Validation_Config" value="#[vars.status]" regex="${validation.status.regex}" message="${validation.status.message}">
					<error-mapping sourceType="VALIDATION:MISMATCH" targetType="APP:INVALID_STATUS" />
				</validation:matches-regex>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Default block logger" doc:id="78cca0a9-b9f8-47b7-8308-d4d9fd2ad2c2" message='#["Default block execution with no status variable"]' />
			</otherwise>
		</choice>
		<set-variable value='#[message.attributes.queryParams.launch_year as String default ""]' doc:name="Set launch_year" doc:id="29b4f4bb-2750-4215-82ed-da6c6973ae1d" variableName="launch_year" />
		<choice doc:name="Choice" doc:id="e6a0ddaa-250e-44b7-a99e-53bdc7216ddc">
			<when expression='#[vars.launch_year != ""]'>
				<validation:matches-regex doc:name="Check for launch_year validity" doc:id="7b986cc9-f219-45f0-ba84-3a2e8677b261" config-ref="Validation_Config" value="#[vars.launch_year]" regex="${validation.launch_year.regex}" message="${validation.launch_year.message}">
					<error-mapping sourceType="VALIDATION:MISMATCH" targetType="APP:INVALID_STATUS" />
				</validation:matches-regex>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Default block logger" doc:id="eb233d42-15a9-4d18-9335-2d9ce55f623b" message='#["Default block execution with no launch_year variable"]' />
			</otherwise>
		</choice>
		<flow-ref doc:name="Get launch info (detailed)" doc:id="eb0f479b-a398-44ca-b99d-1550dab3afaf" name="getLaunchInfoDetailed" />
		<ee:transform doc:name="Filtering by status and year" doc:id="df20bd97-0b3d-4cef-96a6-bf27fa8f64f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(vars.launch_year == "" and vars.status != "")
	payload filter ((item, index) -> item.status == vars.status)
else if(vars.status == "" and vars.launch_year != "")
	payload filter ((item, index) -> item.launch_year == vars.launch_year)
else if (vars.status != "" and vars.launch_year != "")
	payload filter ((item, index) -> item.status == vars.status and item.launch_year == vars.launch_year)
else
	payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="0a1cad60-0015-4d09-93c1-da72cb118e65" config-ref="Validation_Config" message='#["Sorry, we have no results for such parameters. Try to find something else!"]'>
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:EMPTY_COLLECTION" />
		</validation:is-not-empty-collection>
		<ee:transform doc:name="Final result with count" doc:id="f70c8893-93e4-46d0-b2dc-7779adfbd57d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	launch_count: sizeOf(payload),
	launches: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End log" doc:id="ee7491d5-3f65-471d-87f3-f7be7aa88d9d" />
	</sub-flow>
	<sub-flow name="getLaunchInfoDetailed" doc:id="fd48df0a-758b-415b-a544-1fb2f17a4acd">
		<http:request method="GET" doc:name="Get all launches" doc:id="60f29e73-565c-4d39-bf19-73fe131b0fad" config-ref="HTTP_Request_configuration" path="/2.0.0/launch" outputMimeType="application/json">
			<http:query-params><![CDATA[#[output application/java
---
{
	"offset" : attributes.queryParams.offset,
	"limit" : attributes.queryParams.limit
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Payload transformation" doc:id="7072f3c2-e259-48bb-b8cc-e4d8d5b3ff55">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.results map ( result , indexOfResult ) -> {
	id: result.id,
	slug: result.slug,
	name: result.name,
	status: result.status.name,
	launch_year: result.net[0 to 3] as String,
	failreason: result.failreason default "",
	launch_service_provider: result.launch_service_provider.name,
	rocket: {
		name: result.rocket.configuration.name,
		family: result.rocket.configuration.family,
		full_name: result.rocket.configuration.full_name,
		variant: result.rocket.configuration.variant		
	},
	pad: {
		name: result.pad.name,
		location: {
			name: result.pad.location.name,
			country_code: result.pad.location.country_code,
			total_launch_count: result.pad.location.total_launch_count,
			total_landing_count: result.pad.location.total_landing_count
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="allLaunchesRes" ><![CDATA[%dw 2.0
output application/json
---
payload.results map ( result , indexOfResult ) -> {
	id: result.id,
	slug: result.slug,
	name: result.name,
	status: result.status.name,
	launch_date: result.net,
	failreason: result.failreason default "",
	launch_service_provider: result.launch_service_provider.name,
	rocket: {
		name: result.rocket.configuration.name,
		family: result.rocket.configuration.family,
		full_name: result.rocket.configuration.full_name,
		variant: result.rocket.configuration.variant		
	},
	pad: {
		name: result.pad.name,
		location: {
			name: result.pad.location.name,
			country_code: result.pad.location.country_code,
			total_launch_count: result.pad.location.total_launch_count,
			total_landing_count: result.pad.location.total_landing_count
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
</mule>
